.centros-content {
  width: 80vw; }
  .centros-content .centro-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; }
    .centros-content .centro-cards .centro-box {
      border-radius: 5%;
      width: 29%;
      background: #f3faff;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin: 15px;
      display: flex;
      flex-direction: column;
      padding: 0 10px; }
      .centros-content .centro-cards .centro-box .centro-header {
        height: 100%;
        display: flex;
        align-items: center; }
        .centros-content .centro-cards .centro-box .centro-header .centro-name {
          font-size: 25px;
          margin: 5px;
          flex: 0 1 auto; }
      .centros-content .centro-cards .centro-box .centro-info {
        flex: 1; }
        .centros-content .centro-cards .centro-box .centro-info .centro-types {
          margin-bottom: 15px; }
          .centros-content .centro-cards .centro-box .centro-info .centro-types p {
            padding-left: 20px;
            margin: 0; }
      .centros-content .centro-cards .centro-box hr {
        width: 100%; }

@media only screen and (max-width: 360px) {
  .centros-content {
    width: 100vw;   }
    .centros-content .centro-cards {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;   }
      .centros-content .centro-cards .centro-box {
        width: calc(100vw - 50px);   }
}

@media only screen and (min-width : 361px) and (max-width : 768px) {
  .centros-content .centro-cards {
    flex-wrap: nowrap;
    justify-content: center;   }
    .centros-content .centro-cards .centro-box {
      min-width: 40vw;   }
}
