<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Untitled Page{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='icons/app-logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="flex-main">
            {% include 'header.html' %}
            <main class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="alert {{ messages[0][0] }}">
                            {% for message in messages %}
                                <li class="message">{{ message[1] }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
                    </main>
            <footer>
                <div>
                    Grupo42 - Proyecto2020
                </div>
                {% block footer %}{% endblock %}
            </footer>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>